@use '../../styles/colours.scss';

.container {

}

.locationContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: colours.$light-grey;
    border-radius: 5px;
    
    p {
        margin: 5px;
    }
}