@use '../../styles/types';
@use '../../styles/colours.scss';



table {
    margin: 5px;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: colours.$light-grey;
}

th {
    border: 1px black solid;
    background-color: colours.$medium-light-grey;
}

td {
    border: 1px black solid;
    padding: 2px;
    min-width: 40px;
}



@each $key, $value in types.$typeColours {
    td.type-#{$key} {
        background-color: #{$value};
        color: white;
    }
}