@use '../../styles/types';



.moveTable {
    border: 1px black solid;
    border-radius: 5px;
    

    table {
        margin: 5px;
        border-spacing: 0;
        border-collapse: collapse;
    }
    
    th {
        border: 1px black solid;
    }
    
    td {
        border: 1px black solid;
        padding: 2px;
        min-width: 40px;
    }
}


@each $key, $value in types.$typeColours {
    td.type-#{$key} {
        background-color: #{$value};
        color: white;
    }
}