@use '../../styles/colours.scss';

.mainContainer {
    box-sizing: border-box;
    background-color: colours.$medium-light-grey;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    text-align: center;

    label {
        font-size: 1.5em;
        font-weight: bold;
    }
}


.statContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px black solid;

}

.tableContainer {
    background-color: colours.$light-grey;
    border-radius: 10px;
    padding: 5px;
}

.statTable {
    border-spacing: 0;
    border-collapse: collapse;

    background-color: colours.$light-grey;

    th {
        border: 1px black solid;
        background-color: colours.$medium-light-grey;
    }
}

.statBar {
    background-color: maroon;
    margin: 3px;
    height: 25px;
}

.statBarCell {
    width: 255px;
    //border: 1px black solid;
}

.emptyTD {
    background-color: colours.$medium-light-grey;
}