@use '../../styles/types';
@use '../../styles/colours';

.infoContainer {
    display: flex;
    flex-direction: column;
    max-height: 100%;

}

.summaryCard {
    display: flex;
    flex-direction: row;
    padding: 5px;

    .rightSide {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 5px;

        button {
            width: fit-content;
            align-self: flex-end;
            margin: 5px;
            margin-bottom: 0px;
        }
    }

    @each $key1, $value1 in types.$light-typeColours {
        @each $key2, $value2 in types.$dark-typeColours {
        .type1-#{$key1}.type2-#{$key2} {
                border: 2px $value2 solid;
                background-color: $value1;
                border-radius: 10px;
            }
        }
        .type1-#{$key1} {
            border: 2px map-get($map: types.$dark-typeColours, $key: $key1) solid;
            background-color: $value1;
            border-radius: 10px;
        }
    }
    
}


.spriteCard {
    display: flex;
    flex-direction: column;
    margin: 5px;
    flex: 1 0 40%;
    align-items: center;

    .typeContainer {
        background-color: colours.$light-grey;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-radius: 10px;
        width: fit-content;
        margin: 10px;
    }

    .sprite {
        margin: 10px;
        border-radius: 10px;
        background-color: colours.$light-grey;
    }
}

