$background-colour: #ffffcc !default;

.content {
    background: $background-colour;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-in-out;
    font-size: 18pt;
    overflow: hidden;
    box-sizing: border-box;

}

.showing {
    max-height: 200px;
    overflow-y: scroll;
}