@use '../../styles/colours.scss';

.header {
    margin-bottom: 5px;

    &:hover {
        cursor: pointer;
    }
}

.content {
    width: fit-content;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-in-out;
    font-size: 18pt;
    overflow: hidden;
    box-sizing: border-box;


}

.showing {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
}